.block__item {
    padding: 50px;
    font-size: 20px;
    color: #fff;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    margin:20px;
    border: 12px solid #fff;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.purple {
    background-color: purple;
}

.pink {
    background-color: pink;
}

.yellow {
    background-color: yellow;
}

.blue {
    background-color: blue;
}

.orange-border {
    border-color: orange;
}