body {
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    margin: 0 auto;
    height:100%;
    overflow:hidden;
    min-height:100%;
    padding:50px;
    width:600px;
}

.block__row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border: 20px solid #ece89d;
    margin: 0px 0px 20px 0px;
}
