body {
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    margin: 0 auto;
    height:100%;
    overflow:hidden;
    min-height:100%;
    padding:50px;
    width:600px;
}

.block__row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border: 20px solid #ece89d;
    margin: 0px 0px 20px 0px;
}

.block__column {
    border: 20px solid #5e5373;
}

.block__item {
    //background-color: #18b5a4;
    padding: 50px;
    font-size: 20px;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
}

.red {
    background-color: red;
}
.green {
    background-color: green;
}
.purple {
    background-color: purple;
}
.pink {
    background-color: pink;
}
.yellow {
    background-color: yellow;
}
.blue {
    background-color: blue;
}
.orange {
    background-color: orange;
}