

<div class="wrapper">
  <div class="block">
    <div class="block__row">
      <div class="block__column">
        <div class="block__item" [ngClass]="result[0]">Square1</div>
      </div>
      <div class="block__column">
        <div class="block__item" [ngClass]="result[1]">Square2</div>
      </div>
      <div class="block__column">
        <div class="block__item" [ngClass]="result[2]">Square3</div>
      </div>
      <div class="block__column">
        <div class="block__item" [ngClass]="result[3]">Square4</div>
      </div>
      <div class="block__column">
        <div class="block__item" [ngClass]="result[4]">Square5</div>
      </div>
      <div class="block__column">
        <div class="block__item" [ngClass]="result[5]">Square6</div>
      </div>
    </div>
  </div>
  <input type="submit" value="Submit">
</div>