.wrapper {
    margin: 0 auto;
    height:100%;
    overflow:hidden;
    min-height:100%;
    padding:50px;
    width:600px;
}

.block__row {
    display: flex;
    justify-content: space-around;
    border: 20px solid #ece89d;
    margin: 0px 0px 20px 0px;
}

input[type=submit] {
    background-color: #dab332;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    font-size: 20px;
    color: #fff;
    font-weight: 700;
    border-radius: 5%;
    cursor: pointer;
}

.input-wrapper {
    display: flex;
    justify-content: space-around;
}
